.search-bar-container {
	position: relative;
}

.search-bar-input {
	height: 36px;
	width: 100%;
	max-width: 851px;
	background: #ffffff;
	border: 1px solid #aeb1c2;
	box-sizing: border-box;
	border-radius: 12px;
	padding-left: 33.67px;
	font-family: inherit;
	font-size: 12px;
	line-height: 18px;
}

.search-icon {
	position: absolute;
	height: 13px;
	width: 13px;
	height: 36px;
	left: 12px;
	top: 0px;
}

@media screen and (min-width: 870px) {
	.search-bar-input {
		max-width: none;
	}
}